

div.reddit-undelete div.comment {
    background-color: white;
}

div.reddit-undelete.thing.comment > div.entry.RES-keyNav-activeElement {
    background-color: #cdd4e4 !important;
}

/* deleted comment body */
div.reddit-undelete.thing.comment > div.entry div.md {
    color: black !important;
}

/* deleted comment time */
div.reddit-undelete.thing.comment > div.entry div.tagline time {
    color: black;
}

/* deleted comment score */
div.reddit-undelete.thing.comment > div.entry div.tagline span.score {
    color: black;
}

/* deleted comment username */
div.reddit-undelete.thing.comment > div.entry div.tagline a {
    color: #369;
}

/* deleted comment bottom text */
div.reddit-undelete.entry ul.buttons p {
    color: #888;
    font-weight: bold;
    padding: 0 1px;
}

/* hide view source button (sometimes gets auto added so i just hide it) */
div.reddit-undelete.entry ul.buttons li.viewSource {
    display: none;
}